<h1>Please fill out a new task!</h1>

<% form_for(@tasks) do |task| %>
  <div class="form-group">
    <%= task.label :title %>
    <%= task.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= task.label :details %>
    <%= task.text_field :details, class: 'form-control' %>
  </div>

  <%= task.submit class: 'btn btn-primary' %>
<%end %>
